.container {
  background                : rgba(0, 0, 0, 0.9);
  padding                   : 12px;
  width                     : 600px;
  position                  : absolute;
  transition-property       : all;
  transition-timing-function: easeInOutBack;
  right                     : 0;
  bottom                    : 20px;
  border-radius             : 16px;
  transform                 : scaleY(1);
  min-height                : 100px;
  border                    : 2px solid white;
}

.appear {
  right        : 600px;
  border-radius: 0;
  transform    : scale(0.1);
  background   : transparent;
}

.appearActive {}

.appearDone {}

.enter {}

.enterActive {}

.enterDone {}

.exit {
  bottom   : -400px;
  transform: scale(0.1);
}

.exitActive {}

.exitDone {}