.container {
  height  : 400px;
  width   : 800px;
  position: absolute;
  bottom  : 0;
  overflow: clip;

  &::-webkit-scrollbar {
    display: none;
  }
}

:global(.debug) {
  .container {
    outline: 1px solid red;
  }
}